<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="my-4">Add a new movie</h2>
    <form
      action="{% url 'upload' %}"
      method="post"
      enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <p>
        Mega importante cuando uso esta expresion con | no funciona {#% {{
        form|as_table }} %#}
      </p>
      <button class="btn btn-dark my-4" type="submit">Submit</button>
    </form>
  </body>
</html>
